<div class="">
    <p-fileUpload name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php"
                  fileLimit="5"
                  (onUpload)="onSubmit($event)"
                  (onRemove)="onRemove($event)"
                  (onSelect)="onSelect($event)"
                  [multiple]="true"
                  accept="image/*"
                  maxFileSize="2097152"
                  chooseLabel="Select"
                  chooseStyleClass="hidden"
                  uploadLabel="Upload"
                  cancelLabel="Cancel"
                  uploadStyleClass="mx-2"
                  chooseIcon="pi pi-images text-sm"
                  uploadIcon="pi pi-cloud-upload"
                  cancelIcon="pi pi-times"
                  mode="advanced">
        <ng-template #empty>
            <div class="text-gray-500 text-sm tablet:text-md">Drag and drop files to here to upload.</div>
        </ng-template>
        <ng-template #content>
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>