<!-- <div class="card flex justify-content-center">
    <p-toast />
    <p-fileUpload 
        mode="basic" 
        name="demo[]" 
        chooseIcon="pi pi-upload" 
        url="https://www.primefaces.org/cdn/api/upload.php" 
        accept="image/*" maxFileSize="1000000" 
        (onUpload)="onBasicUploadAuto($event)" 
        [auto]="true" 
        chooseLabel="Browse" />
</div> -->

<!--<div class="w-full p-3">-->
<!--    <div>-->
<!--        <div *ngIf="!selectedProduct" class="text-center text-zinc-600 w-full my-7">-->
<!--            <p>Please select an product to manage his media</p>-->
<!--        </div>-->
<!--        <div *ngIf="selectedProduct && showGallery" class="my-7 flex justify-center items-center">-->
<!--            -->
<!--            <div class="flex w-fit flex-col items-end space-y-4">-->
<!--                <button class="bg-sky-500 px-5 py-2 font-bold rounded-sm" (click)="handleUpladImagesToggle()">Upload</button>-->

<!--                <div class="card">-->
<!--                    <p-galleria -->
<!--                        [value]="selectedProduct.media" -->
<!--                        [showItemNavigators]="true" -->
<!--                        [responsiveOptions]="responsiveOptions" -->
<!--                        [circular]="true" -->
<!--                        [numVisible]="5" -->
<!--                        [containerStyle]="{ 'max-width': '640px' }">-->
<!--                            <ng-template pTemplate="item" let-item>-->
<!--                                <img [src]="item.imagePath" style="width: 100%; display: block;" />-->
<!--                            </ng-template>-->
<!--                            <ng-template pTemplate="thumbnail" let-item>-->
<!--                                <div class="grid grid-nogutter justify-content-center max-h-40">-->
<!--                                    <img [src]="item.imagePath" style="display: block;" />-->
<!--                                </div>-->
<!--                            </ng-template>-->
<!--                    </p-galleria>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <ul class="flex flex-wrap gap-4">-->
<!--            <li *ngFor="let product of products; trackBy: trackByProductId" (click)="handleSelectProduct(product)" class=" w-full tablet:w-fit">-->
<!--                <div class="flex h-40 items-center space-x-4 rounded-md overflow-hidden cursor-pointer border pr-4 w-full"-->
<!--                        [ngClass]="{'bg-sky-500/20 border-sky-500/50': selectedProduct?.id === product.id, 'bg-sky-500/10 border-sky-500/10': selectedProduct?.id != product.id}"-->
<!--                    >-->
<!--                    <div class="flex justify-center w-40">-->
<!--                        <img [src]="product.media[5]?.imagePath || 'https://placehold.co/600x600'" alt="{{ product.name }}" class="max-w-full h-auto object-cover" />-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <h3 class="text-2xl font-bold">{{ product.name }}</h3>-->
<!--                        <div class="text-sm text-zinc-500">-->
<!--                            <app-text-preview -->
<!--                                text="{{ product.description }}"-->
<!--                            />-->
<!--                        </div>-->
<!--                -->
<!--                        <p class="text-xl font-bold text-sky-500">{{ product.price }}$</p>-->
<!--                        <p class="text-sm bg-zinc-500 w-fit uppercase px-3 " *ngIf="product.quantity > 0">-->
<!--                            {{ product.quantity }} In stock-->
<!--                        </p>-->
<!--                        <p class="text-sm text-red-500" *ngIf="product.quantity === 0">-->
<!--                            Out of stock-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->




<!--<div *ngIf="isUploadImageVisible && selectedProduct" class="fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center">-->
<!--    <div class="bg-black p-5 rounded shadow-lg text-white w-full max-w-5xl mx-4">-->
<!--        <div class="card">-->
<!--            <p-toast />-->

<!--            <p-fileUpload name="myfile[]" url="https://www.primefaces.org/cdn/api/upload.php" [multiple]="true" accept="image/*" maxFileSize="1000000" (onUpload)="onTemplatedUpload()" (onSelect)="onSelectedFiles($event)">-->

<!--                <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">-->
<!--                    <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">-->
<!--                        <div class="flex w-full justify-between items-center">-->
<!--                            <div class="flex gap-2">-->
<!--                                <p-button (onClick)="choose($event, chooseCallback)" icon="pi pi-images" [rounded]="true" [outlined]="true" />-->
<!--                                &lt;!&ndash; <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true" [outlined]="true" severity="success" [disabled]="!files || files.length === 0" /> &ndash;&gt;-->
<!--                                <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!files || files.length === 0" />-->
<!--                            </div>-->
<!--                            <p-button (onClick)="handleUpladImagesToggle()" icon="pi pi-times" [rounded]="true" [outlined]="true" />-->
<!--                        </div>-->
<!--                        <p-progressBar [value]="totalSizePercent" [showValue]="false" styleClass="md:w-20rem h-1rem w-full md:ml-auto" [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }">-->
<!--                            <span class="white-space-nowrap">{{ totalSize }}B / 1Mb</span>-->
<!--                        </p-progressBar>-->
<!--                    </div>-->
<!--                </ng-template>-->


<!--                <ng-template pTemplate="content" let-files let-uploadedFiles="uploadedFiles" let-removeFileCallback="removeFileCallback" let-removeUploadedFileCallback="removeUploadedFileCallback">-->
<!--                    <div *ngIf="files?.length > 0">-->
<!--                        <h5>Pending</h5>-->
<!--                        <div class="flex flex-wrap p-0 sm:p-5 gap-5">-->
<!--                            <div *ngFor="let file of files; let i = index" class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">-->
<!--                                <div>-->
<!--                                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />-->
<!--                                </div>-->
<!--                                <span class="font-semibold">{{ file.name }}</span>-->
<!--                                <div>{{ formatSize(file.size) }}</div>-->
<!--                                <p-badge value="Pending" severity="warning" />-->
<!--                                <p-button icon="pi pi-times" (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true" severity="danger" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div *ngIf="uploadedFiles?.length > 0">-->
<!--                        <h5>Completed</h5>-->
<!--                        <div class="flex flex-wrap p-0 sm:p-5 gap-5">-->
<!--                            <div *ngFor="let file of uploadedFiles; let i = index" class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3">-->
<!--                                <div>-->
<!--                                    <img role="presentation" [alt]="file.name" [src]="file.objectURL" width="100" height="50" />-->
<!--                                </div>-->
<!--                                <span class="font-semibold">{{ file.name }}</span>-->
<!--                                <div>{{ formatSize(file.size) }}</div>-->
<!--                                <p-badge value="Completed" class="mt-3" severity="success" />-->
<!--                                <p-button icon="pi pi-times" (onClick)="removeUploadedFileCallback(i)" [outlined]="true" [rounded]="true" severity="danger" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </ng-template>-->

<!--                <ng-template pTemplate="file"> </ng-template>-->

<!--                <ng-template pTemplate="empty">-->
<!--                    <div class="flex flex-col items-center justify-center flex-column">-->
<!--                        <i class="pi pi-cloud-upload border-2 rounded-full p-5 text-8xl text-400 border-400"></i>-->
<!--                        <p class="mt-4 mb-0">Drag and drop files here to upload.</p>-->
<!--                    </div>-->
<!--                </ng-template>-->

<!--            </p-fileUpload>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- -->