# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage
/.nyc_output

# Production
/dist
/build
/out-tsc

# Angular specific
.angular/
/dist
/tmp
/out-tsc
/bazel-out
.npm
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
Thumbs.db

# Package files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
**/.stylelintcache

# Java specific
**/target/
**/.class
**/.jar
**/.war
**/.ear
**/.logs/
**/hs_err_pid*
**/.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd
**/.settings/
**/.classpath
**/.project
**/.factorypath
**/.springBeans
**/.metadata/
**/bin/
**/tmp/
**/*.tmp
**/*.bak
**/*.swp
**/*~.nib
**/local.properties
**/.loadpath
**/.gradle/
**/build/
**/out/
**/.idea/
**/*.iml
**/*.iws
**/*.ipr
**/.idea_modules/

# Microservices specific
**/api/*/target/
**/api/*/.settings/
**/api/*/.classpath
**/api/*/.project
**/api/*/.factorypath
**/api/*/.springBeans
**/api/*/.metadata/
**/api/*/bin/
**/api/*/tmp/
**/api/*/.mvn/wrapper/maven-wrapper.jar
**/api/*/mvnw
**/api/*/mvnw.cmd      
**/api/*/.idea/
**/api/*/*.iml
**/api/*/*.iws
**/api/*/*.ipr
**/api/*/.idea_modules/
**/api/*/logs/
**/api/*/.logs/
**/api/*/hs_err_pid*
**/api/*/local.properties
**/api/*/.loadpath
**/api/*/.gradle/
**/api/*/build/
**/api/*/out/
**/api/*/*.tmp
**/api/*/*.bak
**/api/*/*.swp
**/api/*/*~.nib

# Docker
.docker/
docker-compose.override.yml

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and *not* Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
