<div class="rounded-lg w-full">
    <div class="flex justify-center mb-4">
      <img [src]="product.media[0].imagePath" alt="{{ product.name }}" class="max-w-full h-auto object-cover" />
    </div>
    <div>
        <div>
            <div class="flex justify-between items-center">
                <h3 class="text-2xl font-bold mb-2">{{ product.name }}</h3>
                <p-button (click)="toggleCart()" 
                    [ngClass]="{ 'pi-minus bg-red-500 hover:bg-red-400': isInCart, 'pi-plus bg-zinc-500 hover:bg-zinc-400': !isInCart }" 
                    class="pi p-1 cursor-pointer text-white rounded-full" />
            </div>
            <p class="text-sm text-zinc-500 mb-4">{{ product.description }}</p>
        </div>
  
        <div>
            <p class="text-xl font-bold text-sky-500 mb-4">{{ product.price }}$</p>
            <p class="text-sm mb-4 bg-zinc-500 w-fit uppercase px-3 " *ngIf="product.quantity > 0">
                {{ product.quantity }} In stock
            </p>
            <p class="text-sm text-red-500 mb-4" *ngIf="product.quantity === 0">
                Out of stock
            </p>
        </div>
    </div>
</div>
  
