<div class="w-full px-5 py-10">
    <!-- Header Section -->
    <div class="mb-8">
        <h1 class="text-3xl font-bold text-black mb-2">Products</h1>
        <p class="text-gray-600">Browse our collection of products</p>
    </div>

    <!-- Loading State -->
    <div *ngIf="products === null" class="flex justify-center items-center h-64">
        <div class="animate-spin rounded-full h-12 w-12 border-b-2 border-blue-500"></div>
    </div>

    <!-- Empty State -->
    <div *ngIf="products && !products.content.length" class="text-center">
        <i class="pi pi-shopping-cart text-4xl text-gray-300 mb-4"></i>
        <h3 class="text-md tablet:text-lg desktop:text-xl font-medium text-gray-500 mb-4">No Products Added Yet</h3>
    </div>

    <div *ngIf="products && products.content.length">
        <!-- Products Grid -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
            <div *ngFor="let item of products.content; trackBy: trackByProductId"
                 class="overflow-hidden transition-transform duration-300 hover:transform hover:scale-105">
                    <app-product [product]="item" />
            </div>
        </div>

        <!-- Pagination -->
        <p-paginator
                (onPageChange)="onPageChange($event)"
                [first]="currentPage * pageSize"
                [rows]="pageSize"
                [totalRecords]="products.page.totalElements"
                [rowsPerPageOptions]="[5, 10, 15, 20, 30]">
        </p-paginator>
    </div>
</div>