<div class="w-full p-3">
    <h2 class="text-xl font-bold capitalize tablet:text-2xl desktop:text-4xl tablet:max-w-lg desktop:max-w-4xl">
        <span>Sign Up</span>
    </h2>

    <div class="px-4 py-7 mx-auto w-full max-w-md min-w-sm rounded-md">
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 justify-center items-center w-full">

            <div class="w-full flex gap-4 flex-col">
                <label>Role</label>
                <div class="grid grid-cols-2 gap-2 w-full">

                    <div class="h-10 flex">
                        <input type="radio" id="client" value="CLIENT" formControlName="role" class="hidden" checked>
                        <label for="client" class="w-full h-full rounded-md p-2 flex justify-between items-center cursor-pointer hover:bg-sky-500/5"
                            [ngClass]="{'bg-sky-500/10 border-2 border-sky-500': !isSeller()}">
                            <span>Client</span>
                            <span [ngClass]="{'pi pi-check': !isSeller()}"></span>
                        </label>
                    </div>

                    <div class="h-10 flex" >
                            <input type="radio" id="seller" value="SELLER" formControlName="role"  class="hidden">
                            <label for="seller" class="w-full h-full p-2 rounded-md flex justify-between items-center cursor-pointer hover:bg-sky-500/5"
                                [ngClass]="{'bg-sky-500/10 border-2 border-sky-500': isSeller()}">
                                <span>Seller</span>
                                <span [ngClass]="{'pi pi-check': isSeller()}"></span>
                            </label>
                    </div>
                </div>
            </div>

            <div class="w-full flex gap-2 flex-col">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name" class="h-10 w-full p-2 border-slate-500/10 border-2 rounded-md bg-zinc-800"/>
<!--                <div *ngIf="nameControl?.errors">-->
<!--                    <small *ngIf="nameControl.errors['required']" class="text-red-500">-->
<!--                        Name is required-->
<!--                    </small>-->
<!--                    <small *ngIf="nameControl.errors['minLength']" class="text-red-500">-->
<!--                        Name must be at least 2 characters-->
<!--                    </small>-->
<!--                    <small *ngIf="nameControl.errors['maxLength']" class="text-red-500">-->
<!--                        Name cannot exceed 20 characters-->
<!--                    </small>-->
<!--                </div>-->
            </div>

            <div class="w-full flex gap-2 flex-col">
                <label for="email">Email</label>
                <input id="email" type="email" formControlName="email" class="h-10 w-full p-2 border-slate-500/10 border-2 rounded-md bg-zinc-800"/>
<!--                <div *ngIf="emailControl?.errors">-->
<!--                    <small-->
<!--                        class="block p-error"-->
<!--                    >-->
<!--                        <div *ngIf="emailControl.errors?.['required']">Email is required.</div>-->
<!--                        <div *ngIf="emailControl.errors?.['email']">Email should be valid</div>-->
<!--                    </small>-->
<!--                </div>-->
            </div>

            <div class="w-full flex gap-2 flex-col">
                <label for="password">Password</label>
                <p-password [toggleMask]="true" id="password" formControlName="password" inputStyleClass="h-10 p-2 w-full border-slate-500/10 border-2 bg-zinc-800" styleClass="w-full bg-zinc-800" />
<!--                <div *ngIf="passwordControl?.errors" class="text-red-500">-->
<!--                    <small *ngFor="let error of passwordControl">-->
<!--                        {{ error }}-->
<!--                    </small>-->
<!--                </div>-->
            </div>


            <div *ngIf="isSeller()" class="w-full flex gap-2 flex-col">
                <label for="avatar">Avatar</label>
                <input type="file" id="avatar" formArrayName="avatar" (change)="onFileSelected($event)" class="hidden" #fileInput />
                <button type="button" (click)="fileInput.click()" class="border-2 border-slate-500/10 bg-zinc-800 w-full p-2 text-left rounded-md">
                    {{ 'Choose an Avatar' }}
                </button>
            </div>

            <button type="submit" class="bg-blue-500 w-full mt-2 rounded-md text-white font-bold p-2" >
<!--                [disabled]="loading || signUpForm.invalid"-->
                <span *ngIf="!loading">Sign Up</span>
                <span *ngIf="loading">Signing Up...</span>
            </button>
        </form>

        <div class="flex space-x-2 my-4">
            <span class="text-zinc-500">
                Already have a account ?
            </span>
            <a
                routerLink="/auth/sign-in"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                class="font-bold underline cursor-pointer capitalize">
                Login
            </a>
        </div>

        <app-alert />

    </div>
</div>


