<div class="w-full h-full">
    <div class="w-full h-full shadow-lg pb-6 rounded-xl border border-gray-200 overflow-hidden">
        <!-- Product Image -->
        <div class="relative">
            <a routerLink="/products/{{product.product.id}}"
               routerLinkActive="active"
               ariaCurrentWhenActive="page">
                <img *ngIf="product.media?.length"
                     [src]="getMedia(product.product.id, product.media[0].imagePath)"
                     [alt]="product.product.name"
                     class="w-full h-72 object-cover">

                <div *ngIf="!product.media?.length"
                     class="w-full h-72 bg-gray-100 flex items-center justify-center">
                    <i class="pi pi-image text-3xl text-gray-400"></i>
                </div>
            </a>

            <!-- Stock Badge -->
            <div class="absolute top-3 left-3">
        <span *ngIf="product.product.quantity === 0"
              class="bg-gray-800 text-white px-3 py-1 rounded-lg text-xs uppercase">
          Out-of-Stock
        </span>
                <span *ngIf="product.product.quantity > 0"
                      class="bg-gray-800 text-white px-3 py-1 rounded-lg text-xs uppercase">
          Full-Stock
        </span>
            </div>
        </div>

        <!-- Product Info -->
        <div class="mt-4 px-3 space-y-2">
            <div class="flex justify-between">
                <h3 class="text-lg font-normal text-gray-900 capitalize">{{ product.product.name }}</h3>
                <p-button (onClick)="toggleCart()" [disabled]="product.product.quantity === 0">
                    <i *ngIf="!isInCart" class="pi pi-plus-circle"></i>
                    <i *ngIf="isInCart" class="pi pi-minus-circle"></i>
                </p-button>
            </div>
            <app-text-preview limit="100" text="{{product.product.description}}" textClass="text-gray-500 inline-block" buttonClass="text-blue-500 text-sm ml-1"></app-text-preview>
            <span class="text-sm font-semibold text-blue-500">${{ product.product.price.toFixed(2) }}</span>
        </div>

    </div>
</div>
