<div class="w-full p-5">
    <header>
        <div class='relative flex flex-col justify-center items-center space-y-5 w-full py-14'>
            <h2 class="text-xs text-zinc-500 capitalize text-center w-full max-w-xl">
                Shop the latest trends, essentials, and must-haves all in one place.
                Enjoy fast shipping and unbeatable prices.
            </h2>
            <h2 class="text-xl font-bold capitalize text-center tablet:text-4xl desktop:text-6xl tablet:max-w-lg desktop:max-w-4xl">
                Discover Products You’ll Love, Delivered to Your Doorstep
            </h2>
            <p class="text-zinc-500 text-center text-xs desktop:text-sm">Free shipping on orders over $50 | 24/7 Customer Support | Easy Returns</p>
            <button class="bg-blue-500 text-white px-5 py-2 rounded-sm">
                <a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">
                    Shop Now
                </a>
            </button>
        </div>
    </header>
</div>