<!--&lt;!&ndash; product-card.component.html &ndash;&gt;-->
<!--<div class="m-4 rounded-lg  shadow-md p-4">-->
<!--    <div class="relative">-->
<!--      <div class="relative h-72 w-full overflow-hidden rounded-lg">-->
<!--        <img [alt]="imageAlt" [src]="imageSrc" class="h-full w-full object-cover object-center">-->
<!--      </div>-->
<!--      <div class="relative mt-4">-->
<!--        <h3 class="text-sm font-medium text-gray-900">{{ productName }}</h3>-->
<!--        <p class="mt-1 text-sm text-gray-500">{{ productDescription }}</p>-->
<!--        <p *ngIf="productOwnerId === currentUserId" class="mt-1 text-sm font-medium text-gray-900">-->
<!--          Quantité restante : {{ productQuantity }}</p>-->
<!--        <div *ngFor="let media of productRemaining" class="flex flex-wrap">-->
<!--          <img [alt]="media" [src]="media.path" class="h-full w-full object-cover object-center">-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="absolute inset-x-0 top-0 flex h-72 items-end justify-end overflow-hidden rounded-lg p-4">-->
<!--        <div aria-hidden="true" class="absolute inset-x-0 bottom-0 h-36 bg-gradient-to-t from-black opacity-50"></div>-->
<!--        <p class="relative text-lg font-semibold text-white">{{ productPrice }} FCFA</p>-->
<!--      </div>-->
<!--    </div>-->

<!--  <button *ngIf="currentUserId && productOwnerId != currentUserId" class="mt-6 w-full" hlmBtn>-->
<!--    <a-->
<!--      class="relative flex items-center justify-center rounded-md border border-transparent px-8 py-2 text-sm font-medium">-->
<!--      Placer une commande<span class="sr-only">, {{ productName }}</span>-->
<!--      </a>-->
<!--    </button>-->
<!--  <div *ngIf="currentUserId && productOwnerId === currentUserId" class="grid gap-2 mt-6 lg:grid-cols-2 ">-->
<!--    <button (click)="updateProduct(productId)" hlmBtn>-->
<!--      <a-->
<!--        class="relative flex items-center justify-center rounded-md border border-transparent px-8 py-2 text-sm font-medium">-->
<!--        Modifier<span class="sr-only">, {{ productName }}</span>-->
<!--      </a>-->
<!--    </button>-->
<!--    <button (click)="deleteProduct(productId)" class="bg-pink-600" hlmBtn>-->
<!--      <a-->
<!--        class="relative flex items-center justify-center rounded-md border border-transparent px-8 py-2 text-sm font-medium">-->
<!--        Supprimer<span class="sr-only">, {{ productName }}</span>-->
<!--      </a>-->
<!--    </button>-->
<!--  </div>-->
<!--  </div>-->
